* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
.wrapper__title {
  color: #1b919a;
  padding: 20px 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.container__library {
  height: 100%;
}

.library-background {
  position: relative;
  height: 50px;
  background-color: #404040;
}

.library-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.library-title__items {
  cursor: pointer;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 3px solid #404040;
  border-left: 1px solid rgba(192, 192, 192, 0.4705882353);
  color: #ffffff;
  font-size: 25px;
  width: 185px;
}
@media (max-width: 1240px) {
  .library-title__items {
    font-size: calc(14px + 11 * ((100vw - 320px) / 920));
  }
}
@media (max-width: 1240px) {
  .library-title__items {
    width: calc(125px + 60 * ((100vw - 320px) / 920));
  }
}
.library-title__items:hover {
  border-bottom: 3px solid #1b919a;
}
@media (max-width: 800px) {
  .library-title__items {
    display: none;
  }
}

.burger-menu {
  visibility: hidden;
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .burger-menu {
    visibility: visible;
  }
}

.menu-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-btn__active {
  border: 1px solid #1b919a;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #404040;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.menu li {
  list-style-type: none;
  font-size: 40px;
}
.menu li a:hover {
  color: #1b919a;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu.active ul {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all-item {
  gap: 20px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5450980392);
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.all-item__title {
  font-size: 20px;
  font-weight: bold;
  color: #1b919a;
}
.all-item__button {
  white-space: nowrap;
  width: 120px;
  padding: 5px;
}

.add-modal {
  display: none;
  background-color: rgba(84, 84, 84, 0.337254902);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window {
  display: none;
  border-radius: 10px;
  position: absolute;
  background-color: #f6f6f6;
  padding: 50px;
  width: 500px;
}
@media (max-width: 1240px) {
  .modal-window {
    padding: calc(30px + 20 * ((100vw - 320px) / 920));
  }
}
@media (max-width: 1240px) {
  .modal-window {
    width: calc(280px + 220 * ((100vw - 320px) / 920));
  }
}
.modal-window__title {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}
.modal-window__close {
  cursor: pointer;
  position: absolute;
  left: 92%;
  top: 5%;
  z-index: 1;
  background: none;
  border: none;
  font-size: large;
}
.modal-window__add {
  cursor: pointer;
  background-color: #e1e1e1;
  border: 1px solid silver;
  border-radius: 10px;
  width: 100%;
  height: 30px;
}
.modal-window__add:hover {
  background-color: silver;
}

.add-descr {
  margin: 10px 0;
}
.add-descr__title {
  font-weight: bold;
  font-size: 15px;
}
@media (max-width: 1240px) {
  .add-descr__title {
    font-size: calc(14px + 1 * ((100vw - 320px) / 920));
  }
}
.add-descr__item {
  width: 100%;
  height: 25px;
  font-size: 14px;
}
@media (max-width: 1240px) {
  .add-descr__item {
    font-size: calc(12px + 2 * ((100vw - 320px) / 920));
  }
}

.choice-by {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.choice-by__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  gap: 10px;
}
@media (max-width: 1240px) {
  .choice-by__dropdown {
    gap: calc(5px + 5 * ((100vw - 320px) / 920));
  }
}
.choice-by__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  width: 120px;
  font-size: 14px;
}
@media (max-width: 1240px) {
  .choice-by__label {
    width: calc(70px + 50 * ((100vw - 320px) / 920));
  }
}
@media (max-width: 1240px) {
  .choice-by__label {
    font-size: calc(12px + 2 * ((100vw - 320px) / 920));
  }
}
.choice-by__select {
  width: 170px;
}
@media (max-width: 1240px) {
  .choice-by__select {
    width: calc(100px + 70 * ((100vw - 320px) / 920));
  }
}
.choice-by__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  gap: 10px;
}
@media (max-width: 1240px) {
  .choice-by__input {
    gap: calc(5px + 5 * ((100vw - 320px) / 920));
  }
}
.choice-by__text {
  width: 170px;
}
@media (max-width: 1240px) {
  .choice-by__text {
    width: calc(100px + 70 * ((100vw - 320px) / 920));
  }
}
.choice-by__button {
  padding: 5px;
  width: 120px;
}
@media (max-width: 1240px) {
  .choice-by__button {
    width: calc(80px + 40 * ((100vw - 320px) / 920));
  }
}

.main-table {
  width: 100%;
}
@media (max-width: 990px) {
  .main-table {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.main-title__title {
  padding: 10px 0;
  color: #1b919a;
}
.main-title__descr {
  padding: 10px 0;
  color: #1b919a;
}

.table-title {
  font-size: 16px;
}
@media (max-width: 1240px) {
  .table-title {
    font-size: calc(14px + 2 * ((100vw - 320px) / 920));
  }
}
@media (max-width: 990px) {
  .table-title__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    gap: 2px;
  }
}
@media (max-width: 500px) {
  .table-title__main {
    grid-template-columns: 1fr 1fr;
  }
}
.table-title__item {
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
}

@media (max-width: 990px) {
  .table-body {
    display: grid;
    row-gap: 10px;
  }
}

.table-descr {
  font-size: 14px;
}
@media (max-width: 990px) {
  .table-descr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
  }
}
@media (max-width: 500px) {
  .table-descr {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
}
@media (max-width: 500px) and (max-width: 1240px) {
  .table-descr {
    font-size: calc(12px + 2 * ((100vw - 320px) / 920));
  }
}
.table-descr__item {
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 430px;
  padding: 5px;
  border: 1px solid grey;
}
@media (max-width: 500px) {
  .table-descr__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.item-icon {
  margin: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.item-icon img {
  width: 100%;
  height: 100%;
}
.item-icon_return {
  width: 27px;
  height: 27px;
}

.edit-modal {
  display: none;
  background-color: rgba(84, 84, 84, 0.337254902);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-edit {
  display: none;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  background-color: #f6f6f6;
  width: 500px;
  padding: 50px;
  width: 500px;
}
@media (max-width: 1240px) {
  .modal-edit {
    padding: calc(30px + 20 * ((100vw - 320px) / 920));
  }
}
@media (max-width: 1240px) {
  .modal-edit {
    width: calc(280px + 220 * ((100vw - 320px) / 920));
  }
}
.modal-edit__title {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}
.modal-edit__close {
  cursor: pointer;
  position: absolute;
  left: 92%;
  top: 5%;
  z-index: 1;
  background: none;
  border: none;
  font-size: large;
}
.modal-edit__add {
  cursor: pointer;
  background-color: #e1e1e1;
  border: 1px solid silver;
  border-radius: 10px;
  width: 100%;
  height: 30px;
}
.modal-edit__add:hover {
  background-color: silver;
}/*# sourceMappingURL=style.css.map */